openapi: 3.2.0
info:
  title: GridX Enterprise Rate Platform Open ADR API
  description: Partner/enterprise API for the GridX Enterprise Rate Platform.
  termsOfService: https://www.gridx.com/
  contact:
    name: GridX
    url: https://www.gridx.com/
  version: '1.0'
servers:
- url: https://pge-pe-api.gridx.com/v1
  description: PG&E production deployment
- url: https://pge-pe-api.gridx.com/stage/v1
  description: PG&E stage (test) deployment
security:
- bearerAuth: []
tags:
- name: OpenADR
paths:
  /programs:
    get:
      operationId: getPrograms
      tags:
      - OpenADR
      summary: List demand-response programs
      description: Lists available OpenADR demand-response programs.
      responses:
        '200':
          description: A list of demand-response programs.
  /subscriptions:
    get:
      operationId: getSubscriptions
      tags:
      - OpenADR
      summary: List program subscriptions
      description: Retrieves existing OpenADR program subscriptions.
      responses:
        '200':
          description: A list of subscriptions.
    post:
      operationId: createSubscription
      tags:
      - OpenADR
      summary: Create a program subscription
      description: Creates an OpenADR demand-response program subscription.
      responses:
        '201':
          description: Subscription created.
    delete:
      operationId: deleteSubscription
      tags:
      - OpenADR
      summary: Delete a program subscription
      description: Removes an OpenADR program subscription.
      responses:
        '204':
          description: Subscription removed.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT bearer token obtained from the /token endpoint (expires ~1 hour).
